#Logo-img{
    width: 50%;
    height: 50%;;
}

#Seção{
    padding-left: 3%;
    
}

#offcanvasNavbarDropdown-expand-lg{
 padding: 5%;   
 padding-top: 11%;
}

#venda-conosco{
    margin-top: 1vh;
}

.offcanvas-bod{
    align-items: center;
}